---
import Layout from "../layouts/Front.astro";
import NavBar from "../menu/NavBar.astro";

const semester = "Fall 2024";
const prefix = "/fall2024";
const items = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "Staff",
    url: "/staff",
  },
  {
    title: "Syllabus",
    url: "/syllabus",
  },
  {
    title: "Projects",
    url: "/projects",
    submenu: [
      {
        title: "Linux",
        url: "/projects/linux",
      },
      {
        title: "Exploit and Patch",
        url: "/projects/exploit-and-patch",
      },
      {
        title: "Encrypted Communication",
        url: "/projects/encrypted-communication",
      },
      {
        title: "Password Vault",
        url: "/projects/coming-soon",
      },
      {
        title: "Web Authentication",
        url: "/projects/coming-soon",
      },
      {
        title: "Web Exploit and Patch",
        url: "/projects/coming-soon",
      },
      {
        title: "Threat Modeling",
        url: "/projects/coming-soon",
      },
      {
        title: "CTF",
        url: "/projects/coming-soon",
      },
    ],
  },
];
---

<Layout>
  <NavBar semester={semester} prefix={prefix} items={items} />
  <div class="sm:bg-blue-300 min-h-screen pt-0 lg:pt-5 pb-5">
    <div
      class="bg-white ml-5 mr-5 sm:px-[75px] sm:ml-auto sm:mr-auto py-3 max-w-5xl rounded-lg"
    >
      <slot />
    </div>
  </div>
</Layout>
