---
import Layout from "../layouts/Front.astro";
import NavBar from "../menu/NavBar.astro";

const semester = "Winter 2024";
const prefix = "/winter2024";
const items = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "Staff",
    url: "/staff",
  },
  {
    title: "Syllabus",
    url: "/syllabus",
  },
  {
    title: "Projects",
    url: "/projects",
    submenu: [
      {
        title: "Threat Modeling",
        url: "/projects/threat-modeling",
      },
      {
        title: "Encryption",
        url: "/projects/encryption",
      },
      {
        title: "Web Authentication",
        url: "/projects/web-authentication",
      },
      {
        title: "Exploit and Patch",
        url: "/projects/exploit-and-patch",
      },
      {
        title: "PKI",
        url: "/projects/pki",
      },
      {
        title: "Web Exploit and Patch",
        url: "/projects/web-exploit-and-patch",
      },
      {
        title: "CTF",
        url: "/projects/ctf",
      },
    ],
  },
];
---

<Layout>
  <NavBar semester={semester} prefix={prefix} items={items} />
  <div class="sm:bg-blue-300 min-h-screen pt-0 lg:pt-5 pb-5">
    <div
      class="bg-white ml-5 mr-5 sm:px-[75px] sm:ml-auto sm:mr-auto py-3 max-w-5xl rounded-lg"
    >
      <slot />
    </div>
  </div>
</Layout>
